* {
    outline: 1px solid pink;
}
body,html{
    margin: 0;
    padding: 0;
}

.App {
    background-color: $main-color;
}

header {
    .top-banner {
        display: flex;
        justify-content: space-between;
        background-color: $header-color;
        height: 50px;
    }
}